.menu {
    padding: 5px 10px;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 2.75rem auto 0;
    max-width: 37.5rem;
    margin-top: 0;

    .cart-badges {
        position: absolute;
        height: 18px;
        min-width: 19px;
        left: 520px;
        top: 8px;
        background: rgb(0, 164, 247);
        color: #fff;
        font-size: 10px;
        line-height: 12px;
        padding: 2px;
        border-radius: 9px;
        border: 1px solid #fff;
        text-align: center;
    }
}

.menu-item {
    text-align: center;
}

.cart-icon-container {
    padding-left: 15px;
}

.user-icon-container {
    padding-left: 15px;
}

.search-input {
    width: 100%;
    height: 2rem;
    background: #fff;
    border-radius: 0.125rem;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}

.below-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}

.below-header .thaps-search-form .thaps-search-autocomplete {
    min-height: 39px;
    line-height: 25px;
    border: none !important;
    font-size: 14px;
    width: 100%;
    padding: 0.3rem 0.8rem;
    margin: 0;
    border-radius: 0 !important;
    overflow: visible;
}