.product-menu {
    .item-container {
        flex-shrink: 0;
        display: flex;
        white-space: nowrap;
        align-items: center;
    }

    .icon {
        flex-shrink: 0;
        line-height: 0;

        svg {
            display: block;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            width: 1.375rem;
            fill: white;
            overflow: hidden;
            stroke: currentColor;
            height: 1em;
        }
    }
}