.carousel .control-dots .dot.selected,
.carousel .control-dots .dot:hover {
    opacity: 1;
    background-color: #00a4f7;
    border-color: #00a4f7;
}

.carousel .control-dots .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    opacity: 1;
    border: 1px solid rgba(137, 137, 137, 0.4);
    background: rgba(255, 255, 255, 0.4);
    box-shadow: none;
    transition: none;
}

.carousel .slide img {
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.carousel .slider-wrapper.axis-horizontal .slider {
    height: 100%;
}