.horizontal-categories {
    background-color: white;

    /* width */
    ::-webkit-scrollbar {
        height: 0.15rem;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        width: 50px;
        background: #efefef;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        width: 10px;
        background: #00a4f7;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #00a4f7;
    }

    .react-horizontal-scrolling-menu--scroll-container {
        height: 195px;
        padding-top: 20px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .category-name {
        width: 85px;
        margin: 0 auto;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        max-height: 2.625rem;
        font-size: 14px;
        line-height: 1.2rem;
        color: rgba(0, 0, 0, .87);
        word-wrap: break-word;
        overflow: hidden;
        white-space: pre-line;
    }

    .react-horizontal-scrolling-menu--item {
        height: 80px;
        min-width: 22.22222%;
        text-align: center;
    }

    img {
        object-fit: contain;
        vertical-align: bottom;
        display: inline-block;
        height: auto;
        width: 50px;
        opacity: 1;
        transition: opacity .2s ease;
    }
}